<h1> Cocktail: <%= @cocktail.name %></h1>

<h2>Doses</h2>
<% @cocktail.doses.each do |dose| %>
<%= dose.description %>

<%= link_to "Delete", dose_path(dose), method: :delete,
  data: {confirm: "Are you sure" } %>
<% end %>


<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to list", root_path %>
